<!-- views/partials/_header.ejs -->

<head>
    <title>TinyApp</title>
    <link href="../../public/assets/style.css" rel="stylesheet" type="text/css">
</head>

<header><h2>Tiny App</h2></header>

<% if (user_id) { %>
    <h4>Welcome, </h4>
    <%= email %>
    
    <form method="POST" action="/logout">
        <button>Logout</button>
    </form>
    <form method="GET" action="/urls">
        <button>My URLS</button>
    </form>
<% } else { %>
    
    <button><a href="/register">Register</a></button>
    <button><a href="/login">Login</a></button>

<% } %>

