<!-- views/partials/_header.ejs -->

<head>
    <title>TinyApp</title>
    <link href="../../public/assets/style.css" rel="stylesheet" type="text/css">
</head>

<header><h3>Tiny App</h3></header>

<nav>
    <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/register">Register</a></li>
        <li role="presentation"><a href="/login">Login</a></li>
    </ul>
</nav>
