<!DOCTYPE html>
<html lang="en">
    <% include partials/_header %>

    <body style="">
            <form method="POST" action="/login">
                
                <label for ="email">Enter email:</label>
                <input id="email" name="email" type="text" placeholder="Enter email.." style="width: 100px">
                <label for ="password">Password:</label>
                <input id="password" name="password" type="password" placeholder="Enter password.." style="width: 100px">
                <button type="submit">Login</button>
               
            </form>
    </body>
</html>
