<!-- /views/registration.ejs -->
<!DOCTYPE html>

<html lang="en">

<% include partials/_header %>

<body>
    <!-- a form for user registration -->
    <div class="container">
    <form method="POST" action="/register" style="margin:150px;">
        <fieldset>
                <legend>Register new user:</legend>
        <label for ="email">Enter email:</label>
        <input id="email" type="text" name="email" placeholder="" style="width: 200px">
        <label for ="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="" style="width: 200px">
        <input type="submit" value="Register">
        </fieldset>
    </form>
    <% if (error) { %>
        <div class="alert alert-danger" role="alert" style="text-align: center">
        <%= error %>
        </div>
    <% } %>
</div>
</body>

</html>