<!-- /views/urls-show.ejs -->
<!DOCTYPE html>

<html lang="en">

<% include partials/_header %>

<body>
    
    <!-- 
    display the long URL and its shortened form
    -->
    <p><%= longURL[shortURL] %> -> <%= shortURL %></p>


</body>

</html>