<!-- /views/urls-show.ejs -->
<!DOCTYPE html>

<html lang="en">

<% include partials/_header %>

<body>
    
    <!-- display the long URL and its shortened form -->
    <p><h3>ShortURL: <%= shortURL %></h3></p>
    <!-- form with two elements a text input and a button -->
    <p>
        <form method="POST" action="/urls/<%= shortURL %>">
            <input id ="longURL" type="text" name="longURL" placeholder="<%= longURL[shortURL] %>" style="width: 200px">
            <button type="submit">Update</button>
        </form>
    </p>
</body>

</html>