<!DOCTYPE html>
<html lang="en">

    <body style="font-size:20px; padding:50px;">
        <% include partials/_header %>
        <div class="container p-3 mb-2 bg-light text-dark">
        <form action="/urls" method="POST" style="margin:150px;">
            <fieldset>
            <label for ="longURL"></label>
            <input id="longURL" type="text" name="longURL" placeholder="Enter URL to shorten it" style="width: 600px">
            <input class="btn btn-outline-primary" type="submit" value="Shorten">
        </fieldset>
    
        </form>
    </div>
    </body>

</html>