<!-- /views/urls-index.ejs -->
<!DOCTYPE html>

<html lang="en">

<% include partials/_header %>

<body>
    <!-- a list or table of the URLs and their shortened forms -->
    <ul>
    
    <% for (const key in urls) { %>

    <% if (email === urls[key].user_id || user_id === urls[key].user_id) { %>
        <li><%= key %> = <%= urls[key].longURL %></li>
        <form method="POST" action='/urls/<%= key %>/delete'>
        <button>Delete</button>
    </form>
    <form method="GET" action='/urls/<%= key %>'>
        <button>Edit</button>
    </form>
    <% } %>
    <% }; %>
    
    </ul> 
    
    <!-- link for shortening a new URL href='#'  -->
    <form method="GET" action="urls/new">
        <button>New URL</button>
    </form>
    <!--  -->
</body>

</html>